@model Lab7___Database_First.Models.Invoice

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Invoice</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.InvoiceDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.InvoiceDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BillingAddress)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BillingAddress)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BillingCity)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BillingCity)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BillingState)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BillingState)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BillingCountry)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BillingCountry)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BillingPostalCode)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BillingPostalCode)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Total)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Total)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Customer)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Customer.CustomerId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.InvoiceLines)
        </dt>
        <dd class="col-sm-10">
            <table class="table">
    <thead>
        <tr>
            <th>
                Track ID
            </th>
            <th>
                Track
            </th>
            <th>
                Price
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.InvoiceLines) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Track.TrackId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Track.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Track.UnitPrice)
            </td>
        </tr>
}
    </tbody>
</table>
        </dd>

    </dl>
</div>
<div>
    <a asp-action="Edit" asp-controller="Invoices" asp-route-id="@Model?.InvoiceId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>